.all-cities-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 1rem;
}

.cities-btns {
    height: 88px;
    width: 302px;
    border: 1px solid #CED3D8;
    background-color: var(--bgColor);
    font-size: 28px;
    font-weight: 600;
    color: var(--textBlack);
    border-radius: 28px;
    cursor: pointer;
}

.cities-btns:hover {
    background-color: var(--accentDarkBlue);
    color: var(--textWhite);
    
}