.header {
    background-color: var(--accentColor);
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 12;
}

.logo {
    margin-left: 5rem;
   text-decoration: none;
   color: var(--textWhite);
}

.header-links {
    display:flex;
    margin-right: 5rem;
    justify-content: space-around;
    color: var(--textWhite);
}

.shortlist {
    width: 100px;
}

.contact {
    width: 120px;
}