.city-detail-container {
    margin: 1rem;

}

.city-detail-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.city-detail-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid #CED3D8;
    border-radius: 24px;
}

.city-detail-card img {
    height: 260px;
    width: 400px;
    border-radius: 24px 24px 0px 0px;
}

.city-detail-info-top {
    height: 80px;
    background-color: var(--accentDarkBlue);
    color: var(--textWhite);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.city-detail-info-bottom {
    height: 112px;
    border-bottom: 1px solid #CED3D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-detail-info-bottom-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.city-detail-view-home {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

