.city-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
}


.city-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 2rem;
}

.city-btn {
    width: 200px;
    height: 48px;
    background-color: var(--accentDarkBlue);
    border-radius: 12px;
    border: none;
    color: var(--textWhite);
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: -6rem;
    z-index: 15;
    background-color: var(--bgColor);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    width: 968px;
    height: 128px;
    border-radius: 24px;
}

.search-bar-wrapper button {
    width: 200px;
    height: 48px;
    border-radius: 12px;
    background-color: var(--accentDarkBlue);
    color: var(--textWhite);
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.search-bar-wrapper input {
    width: 320px;
    height: 48px;
    background-color: var(--bgColor);
    
    border-radius: 12px;
    border: 1px solid #CED3D8;
}